<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="input-group" id="adv-search">
				<input type="text" class="form-control" placeholder="Busca Subastas" />
				<div class="input-group-btn">
					<div class="btn-group" role="group">
						<div class="dropdown dropdown-lg">
							<button type="button" class="btn btn-default dropdown-toggle"
								data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
							</button>
							<div class="dropdown-menu dropdown-menu-right" role="menu">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label for="filter">Precio</label> <select
											class="form-control">
											<option value="0" selected>Todos los precios</option>
											<option value="1">Hasta $100.000</option>
											<option value="2">$100.000 a $500.000</option>
											<option value="3">Más de $500.000</option>
										</select>
									</div>
									<div class="form-group">
										<label for="contain">Tipo</label> <select class="form-control">
											<option value="0" selected>Todos los tipos</option>
											<option value="1">Logo</option>
											<option value="2">Flyer</option>
											<option value="3">Otros..</option>
										</select>
									</div>
									<div class="form-group">
										<label for="contain">Fecha</label> <select
											class="form-control">
											<option value="0" selected>Más recientes</option>
											<option value="1">Más antiguas</option>
										</select>
									</div>
									<button type="submit" class="btn btn-primary">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									</button>
								</form>
							</div>
						</div>
						<button type="button" class="btn btn-primary">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<table class="table table-striped custab">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Tipo</th>
			<th>Precio</th>
			<th>Fecha Cierre</th>
		</tr>
	</thead>
	<tr *ngFor="let auction of auctions">

		<td>{{auction.name}}</td>
		<td>{{auction.type}}</td>
		<td>{{auction.price | currency:'COP':true:'1.2-2'}}</td>
		<td>{{auction.time}}</td>

	</tr>
</table>