<div class="container-top">
	<div class="row">
		<div class="col-md-12">

			<div class="input-group" id="adv-search">
				<div class="input-group-addon">
					<i class="glyphicon glyphicon-search"></i>
				</div>
				<input type="text" [(ngModel)]="queryString" class="form-control"
					placeholder="Busca Subastas" />

			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="col-sm-3">
		<form class="form-horizontal" role="form">
			<h3 class="form-register-heading">Búsqueda Avanzada</h3>
			<div class="form-group">
				<label for="filter">Precio</label> <select class="form-control"
					[(ngModel)]="selectedPrice" [ngModelOptions]="{standalone: true}">
					<option *ngFor="let price of prices" [value]="price.num">{{price.name}}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="contain">Tipo</label> <select class="form-control"
					[(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}">
					<option *ngFor="let type of types" [value]="type.num">{{type.name}}</option>
				</select>
			</div>
			<div class="form-group">
				<button [disabled]="loading" type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-search" aria-hidden="true"
						(click)="advancedSearch()"></span>
				</button>
				<img *ngIf="loading"
					src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			</div>
		</form>
	</div>
	<div class="col-sm-8">

		<table class="table table-striped custab">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Tipo</th>
					<th>Precio</th>
					<th>Fecha Cierre</th>
				</tr>
			</thead>
			<tr
				*ngFor="let auction of auctions | FilterPipePipe: queryString  | type: typeFilter | price: priceFilter"
				[routerLink]="['../searchauctions/', auction.idauctions]">
				<td>{{auction.name}}</td>
				<td>{{auction.type}}</td>
				<td>{{auction.price | currency:'USD':true:'1.2-2'}}</td>
				<td>{{auction.closeDate | date:"MM/dd/yy"}}</td>

			</tr>

		</table>
		<div
			*ngIf="( auctions | FilterPipePipe: queryString).length === 0 || ( auctions | type: typeFilter).length === 0 || ( auctions | price: priceFilter).length === 0">
			No se encontrarón resultados</div>
	</div>
</div>

