<div class="wrapper">

	<h2>Mis Subastas</h2>

	<button type="button" class="btn btn-success" >Agregar Subasta</button>
	<app-alert></app-alert>
	<table class="table table-striped custab">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Tipo</th>
				<th>Fecha</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tr *ngFor="let auction of auctions">
			<td [routerLink]="['../myauctions/', auction.idauctions]"><a>{{auction.idauctions}}</a>
			</td>
			<td>{{auction.name}}</td>
			<td>{{auction.price | currency:'COP':true:'1.2-2'}}</td>
			<td>{{auction.type}}</td>
			<td>{{auction.closeDate}}</td>
			<td><a (click)="deleteAuction(auction.idauctions) "
				class="btn btn-danger btn-xs"><span
					class="glyphicon glyphicon-remove"></span>Delete</a></td>
		</tr>
	</table>

</div>
