<!-- Header -->
<header class="masthead bg-primary text-white text-center">
	<div class="container">
		<img class="profile-userpic" src="assets/studentlanding.png" alt="">
		<h1 class="text-uppercase mb-0">Bienvenido a Freeboard</h1>
		<hr class="star-light">
		<h2 class="font-weight-light mb-0">Mira las subastas disponibles</h2>
		<p></p>
		<a (click)="seeAuctions() "
			class="btn btn-primary btn-lg">Buscar subasta</a>
	</div>
</header>


<!-- About Section -->
<section class="success" id="about">
	<div class="container">
		<h2 class="text-center">Sobre Freeboard</h2>
		<hr class="star-primary">
		<div class="row row-centered">
			<div class="col-lg-4 ml-auto col-centered">
				<p>Freeboard te permite buscar trabajo de manera sencilla. Demuestra tus habilidades en el diseño gráfico y desarrollo web</p>
			</div>
			<div class="col-lg-4 mr-auto col-centered">
				<p>Oferta por una subasta que realice una empresa. Espera que te acepten. ¡Manos a la obra!</p>
			</div>
		</div>
	</div>
</section>