<!-- Header -->
<header class="masthead bg-primary text-white text-center">
	<div class="container">
		<img class="profile-userpic" src="assets/manlanding.png" alt="">
		<h1 class="text-uppercase mb-0">Bienvenido a Freeboard</h1>
		<hr class="star-light">
		<h2 class="font-weight-light mb-0">Realiza subastas laborales</h2>
		<p></p>
		<a (click)="creatAuction() "
			class="btn btn-primary btn-lg">Crea una subasta</a>
	</div>
</header>


<!-- About Section -->
<section class="success" id="about">
	<div class="container">
		<h2 class="text-center">Sobre Freeboard</h2>
		<hr class="star-primary">
		<div class="row row-centered">
			<div class="col-lg-4 ml-auto col-centered">
				<p>Freeboard te permite crear subastas de proyectos de diseño gráfico y desarrollo web.</p>
			</div>
			<div class="col-lg-4 mr-auto col-centered">
				<p>Al crear una subasta, un estudiante ofertará por hacer el trabajo que necesites.</p>
			</div>
		</div>
	</div>
</section>
