<div class="wrapper row">

	<form class="form-register" name="form"
		(ngSubmit)="f.form.valid && addOffer()" #f="ngForm" novalidate>
		<div class="row">
			<div class="col-sm-6">
				<h3 class="form-register-heading">Detalles Subasta</h3>
				<div class="form-group"
					[ngClass]="{ 'has-error': f.submitted && !email.valid }">
					<label for="email">Nombre</label> <input type="text"
						class="form-control" name="email" [(ngModel)]="model.email"
						#email="ngModel" required />
					<div *ngIf="f.submitted && !email.valid" class="help-block">Email
						is required</div>
				</div>
				<div class="form-group"
					[ngClass]="{ 'has-error': f.submitted && !name.valid }">
					<label for="name">Descripción</label> <input type="text"
						class="form-control" name="name" [(ngModel)]="model.name"
						#name="ngModel" required />
					<div *ngIf="f.submitted && !name.valid" class="help-block">First
						Name is required</div>
				</div>
				<div class="form-group"
					[ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
					<label for="lastname">Precio</label> <input type="text"
						class="form-control" name="lastname" [(ngModel)]="model.lastname"
						#lastname="ngModel" required />
					<div *ngIf="f.submitted && !lastname.valid" class="help-block">Last
						Name is required</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="input-group" id="adv-search">
							<input type="text" class="form-control" placeholder="Tu Oferta" />
							<div class="input-group-btn">
								<div class="btn-group" role="group">
									<button [disabled]="loading" class="btn btn-primary">Aplicar
										Oferta</button>
									<img *ngIf="loading"
										src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group"
					[ngClass]="{ 'has-error': f.submitted && !accountOwner.valid }">
					<label for="accountOwner">Tipo</label> <input type="text"
						class="form-control" name="accountOwner"
						[(ngModel)]="model.accountOwner" #accountOwner="ngModel" required />
					<div *ngIf="f.submitted && !accountOwner.valid" class="help-block">Titular
						Cuenta is required</div>
				</div>
				<div class="form-group"
					[ngClass]="{ 'has-error': f.submitted && !bank.valid }">
					<label for="bank">Colores</label> <input type="text"
						class="form-control" name="bank" [(ngModel)]="model.bank"
						#bank="ngModel" required />
					<div *ngIf="f.submitted && !bank.valid" class="help-block">Banco
						is required</div>
				</div>
				<div class="form-group"
					[ngClass]="{ 'has-error': f.submitted && !bankWire.valid }">
					<label for="bankWire">Tamaño</label> <input type="number"
						class="form-control" name="bankWire" [(ngModel)]="model.bankWire"
						#bankWire="ngModel" required />
					<div *ngIf="f.submitted && !bankWire.valid" class="help-block">Numero
						de Cuenta is required</div>
				</div>
			</div>
		</div>
	</form>
</div>