
<div class="wrapper">
	<form class="form-register" name="form"
		(ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
		<h2 class="form-register-heading">Registro para Empresas</h2>
		<div class="form-group"
			[ngClass]="{ 'has-error': f.submitted && !name.valid }">
			<label for="name">Nombre Empresa</label> <input type="text"
				class="form-control" name="name" [(ngModel)]="model.name"
				#name="ngModel" required />
			<div *ngIf="f.submitted && !name.valid" class="help-block">First
				Name is required</div>
		</div>
		<div class="form-group"
			[ngClass]="{ 'has-error': f.submitted && !email.valid }">
			<label for="email">Email</label> <input type="text"
				class="form-control" name="email" [(ngModel)]="model.email"
				#email="ngModel" required />
			<div *ngIf="f.submitted && !email.valid" class="help-block">Email
				is required</div>
		</div>
		<div class="form-group"
			[ngClass]="{ 'has-error': f.submitted && !phone.valid }">
			<label for="phone">Telefono</label><input type="text"
				class="form-control" name="phone" [(ngModel)]="model.phone"
				#phone="ngModel" required placeholder="+COUNTRY 1234567890" />
			<div *ngIf="f.submitted && !phone.valid" class="help-block">Telefono
				is required</div>
		</div>
		<div class="form-group"
			[ngClass]="{ 'has-error': f.submitted && !address.valid }">
			<label for="address">Direccion</label> <input type="text"
				class="form-control" name="address" [(ngModel)]="model.address"
				#address="ngModel" required />
			<div *ngIf="f.submitted && !address.valid" class="help-block">Direccion
				is required</div>
		</div>
		<div class="form-group"
			[ngClass]="{ 'has-error': f.submitted && !contactPerson.valid }">
			<label for="contactPerson">Nombre Representante</label> <input
				type="text" class="form-control" name="contactPerson"
				[(ngModel)]="model.contactPerson" #contactPerson="ngModel" required />
			<div *ngIf="f.submitted && !contactPerson.valid" class="help-block">Nombre
				Representante is required</div>
		</div>
		<div class="form-group"
			[ngClass]="{ 'has-error': f.submitted && !password.valid }">
			<label for="password">Contraseña</label> <input type="password"
				class="form-control" name="password" pattern=".{8,}"
				[(ngModel)]="model.password" #password="ngModel" required />
			<div *ngIf="f.submitted && !password.valid" class="help-block">Password
				must be at least 8 characters</div>
		</div>


		<div class="form-group">
			<button [disabled]="loading" class="btn btn-primary">Register</button>
			<img *ngIf="loading"
				src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			<a [routerLink]="['../logincompany']" class="btn btn-link">Cancel</a>
		</div>
	</form>
</div>