<div class="wrapper">

	<h3>Estas son las ofertas para tu subasta</h3>
	<div class="row col-md-6 col-md-offset-2 custyle">
		<table class="table table-striped custab">
			<thead>
				<tr>
					<th>Price</th>
					<th>Student Name</th>
					<th>Student Skills</th>
					<th>Date</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tr *ngFor="let auction of auctions">

				<td><a routerLink="['../auctiondetail/{{auction.id}}']">{{auction.id}}</a></td>
				<td>{{auction.id}}</td>
				<td>Student.skill</td>
				<td>offer.price</td>
				<td class="text-center"><a class='btn btn-info btn-xs' ><span
						class="glyphicon glyphicon-accept"></span> Aceptar</a> <a
					class="btn btn-danger btn-xs"><span
						class="glyphicon glyphicon-remove"></span>Rechazar</a></td>
			</tr>
		</table>
	</div>
</div>
