a, a.active, a:active, a:focus, a:hover {
	color: #18BC9C;
	outline: none;
}

.body {
	height: 100%;
}

#mainNav {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	font-weight: 700;
	border: none;
	background: #2C3E50;
}