<div class="container">

	<div class="row-body2">
		<div class="row-body">
			<div class="row">
				<h1>Registrate!</h1>
				<div class="col-md-6">
					<div class="col-md-12">
						<form class="form-signin">
							<h2 class="form-signin-heading">Empresa</h2>
							<p>Encuentra todo lo que necesitas para tener una exitosa
								imagen corporativa.</p>
							<button class="btn btn-large btn-primary" type="submit">Registarme
								como Empresa</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="col-md-12">
						<form class="form-signin">
							<h2 class="form-signin-heading">Estudiante</h2>
							<p>Encuentra trabajo con tus habilidades adquiridas en la
								Universidad.</p>
							<button class="btn btn-large btn-primary" type="submit">Registarme
								como Estudiante</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
