
<div class="wrapper">
	<div class="borderwrapper">
		<h3 class="form-register-header">Mis Ofertas</h3>
		<app-alert></app-alert>
		<table class="table table-striped custab">
			<thead>
				<tr>
					<th>Subasta</th>
					<th>Precio</th>
					<th>Estado</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tr *ngFor="let offer of offers">
				<td><a (click)="getAuction(offer.idoffers)"
					class="btn btn-success btn-xs"><span>Ver Subasta</span></a></td>
				<td>{{offer.price | currency:'USD':true:'1.2-2'}}</td>
				<td>{{offer.state | uppercase}}
					<div *ngIf="(offer.paid === 0 && offer.state === 'accepted')">
						Pago pendiente</div>
					<div *ngIf="(offer.paid === 1 && offer.state === 'accepted')">
						Pago realizado</div>
				</td>
				<td><a [routerLink]="['../myoffers/', offer.idoffers]"
					class="btn btn-success btn-xs"><span
						class="glyphicon glyphicon-pencil"></span></a></td>
				<td><a (click)="deleteOffer(offer.idoffers)"
					class="btn btn-danger btn-xs"><span
						class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
		</table>

		<div *ngIf="( offers.length === 0)">Aún no tienes ofertas.</div>
	</div>
</div>