
<div class="wrapper">
	<h2>Mis Ofertas</h2>
	<app-alert></app-alert>
	<table class="table table-striped custab">
		<thead>
			<tr>
				<th>ID</th>
				<th>Precio</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tr *ngFor="let offer of offers"
			[routerLink]="['../myoffers/', offer.idoffers]">
			<td>{{offer.idoffers}}</td>
			<td>{{offer.price | currency:'USD':true:'1.2-2'}}</td>
			<td>{{offer.state}}</td>
			<td class="text-center"><a (click)="deleteOffer(offer.idoffers)"
				class="btn btn-danger btn-xs"><span
					class="glyphicon glyphicon-remove"></span>Delete</a></td>
		</tr>
	</table>
</div>
