
<div class="wrapper">
	<h2>Mis Ofertas</h2>
	<table class="table table-striped custab">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Precio</th>
					<th>Estado</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tr>

				<td><a [routerLink]="['../auctiondetail']">auction.id</a></td>
				<td>auction.name</td>
				<td>auction.type</td>
				<td>auction.price</td>
				<td class="text-center"><a class='btn btn-info btn-xs' href="#"><span
						class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#"
					class="btn btn-danger btn-xs"><span
						class="glyphicon glyphicon-remove"></span>Delete</a></td>
			</tr>
		</table>
</div>
